:root {
}
body {
  color: #ffffff;
  background-color:rgba(0,0,0,1);
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: Space Mono;
  font-size: 110%;
  margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.debug {
  display:none;
  position:absolute;
  font-family: Times New Roman;
  font-size:90%;
  width:20%;
  top:200px;
  z-index:777;
  border:1px dotted;
  border-color:white;
  background:rgba(0,0,0,0.7);
  resize:both;
  overflow:auto;
  overflow-wrap:anywhere;
}

.soundControls {
  --hide-amount: 15%;
  display:flex;
  position:relative;
  flex-direction:row;
  align-items:center;
  justify-content:left;
  margin: 2%;
  padding: 0;
  border: 0;
  min-width: 25vh;
  max-width:25vh;
  min-height: 3vh;
  max-height:3vh;
  position:absolute;
  top:0px;
  z-index:777;
}
.soundControlsDrawer{  
  min-width:100%;
  min-height:100%;
  flex-direction:row;
  display:flex;
  justify-content:left;
  align-items:center;
  transform: translateX(calc(-100% - var(--hide-amount)));
  transition:0.5s ease;
}
.soundControls:hover #muteButton {
  transition:0.5s ease;
  transform:scale(1.1);
  opacity:0.8;
}
.soundControls:hover .soundControlsDrawer {
  transform: translateX(calc(-1*var(--hide-amount)));
}
.soundControlsBehind {
  display:flex;
  position:absolute;
  flex-direction:row;
  align-items:center;
  justify-content:left;
  min-height:100%;
  min-width:100%;
}
#sliderBG{
  margin:0;
  padding:0;
  border:0;
  min-width:90%;
  max-width:90%;
  max-height:3vh;
  min-height:3vh;
  background-image:url('/assets/corrulike/elizabeth/volume_bg.png');
  filter: brightness(255) saturate(0%);
  opacity:0.5;
  mask-image:url('/assets/corrulike/elizabeth/volume_mask.gif');
  mask-size:100% 100%;
  overflow:clip;
  mask-repeat:no-repeat;
  background-size:100% 100%;
}
#sliderHolder {
  cursor:pointer;
  margin:0;
  padding:0;
  border:0;
  min-width:90%;
  max-width:90%;
  max-height:3vh;
  min-height:3vh;
  background-image:url('/assets/corrulike/elizabeth/volume-bg.gif');
  mask-image:url('/assets/corrulike/elizabeth/volume_mask_sharp.gif');
  mask-size:100% 100%;
  overflow:clip;
  mask-repeat:no-repeat;
  background-size:100% 100%;
}
.volumeSlider {
  background:transparent;
  padding:0;
  margin:0;
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  -webkit-appearance:none;
}
.volumeSlider::-webkit-slider-thumb {
      cursor:pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 2vh;
  background-color: transparent;
  border-radius: 50%;
  width: 2vh;
  border: 0;
}
.volumeSlider::-moz-range-thumb {
  height:2vh;
  width:2vh;
  cursor:pointer;
  background-color: transparent;
  border-radius:50%;
  border:0; 
}
.volumeSlider::-webkit-slider-runnable-track {
      cursor:pointer;

}

.muteButton {
  opacity:0.5;
  padding:0;
  margin:0;
  min-width:20%;
  max-width:20%;
  min-height:100%;
  position:absolute;
  background:green;
  background-color: transparent;
  cursor: pointer;
  z-index:777;
  border:none;
}

.elizabethBody {
  background-color:rgba(0,0,0,1);
  background-position:center top;
}

.gridWrapper {
  display: grid;
}
.deadRoom{
  grid-area: 1/1;
  margin:0px;
  background-position:center top;
  background-repeat: no-repeat;
  background-size:120%;
  image-rendering:pixelated;
  background-image:url('/assets/corrulike/elizabeth/dead_room_monochrome.png');
  z-index:-3;
}
.noiseLayer{
  grid-area: 1/1;
  margin:0px;
  background-image:url('/assets/corrulike/yes_smoothed.gif');
  mask-image:url('/assets/corrulike/mask.png');
  mask-size:40vh;
  mask-repeat:repeat-x;
  mask-position:bottom;
  z-index:-2;
  background-size:40vh;
  background-position:bottom;
}
.clickAdvance {
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.centerContainer {
  grid-area: 1/1;
  image-rendering:auto;
  background-color:#000000;
  margin-left:auto;
  margin-right:auto;
  display:flex; 
  flex-direction: column; 
  background-color:black; 
  text-align:left;
  max-width:50%; 
  height:100vh;
  max-height:100vh;
  overflow-y:scroll;
  scrollbar-color: #212121 black;
  scrollbar-width: thin;
}
.textContainer {
  padding:3% 5%;
}
.imageBase {
  border: 0;
  float: left;
  position: relative;
} 
.imageExtra {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
 } 
.dialogueBox{
  animation: fadeIn 0.2s;
  margin: 1em 0 1em 0;
  padding: 0.5em;
  border: 1px dashed;
}

.textContainer::after {
    content: "VVV CLICK/ENTER TO PROCEED VVV";
    font-size:90%;
    display: block;
    width: 100%;
    text-align: center;
    offset-position: 10%;
    animation: click-to-proceed 1s linear infinite;
}

.definition {
  cursor:help;
  border-bottom: 1px solid white !important; 
}
.tippy-box[data-theme~='corru'] {
  background-color: black;
  color: white;
  border-radius:0;
  max-width: 45vw;
  padding: 0.33rem;
  font-size:0.75rem;
  border: 1px dashed;
  line-height: 1.2em;
}

.blinds {
  z-index:700;
  position:absolute;
  min-width:100%;
  min-height: 100vh;
  background:black;
}
.blindsWrapper {
  position:absolute;
  color:black;
  min-width:100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.blindsBG {
  position:absolute;
  z-index:702;
  width:100%;
  height:100%;
  background-image:url('/assets/corrulike/corruripplegrayscale.gif');
  filter:brightness(0.08);
}
.blindsNoise {
  background-image:url('/assets/corrulike/psdither.gif');
  z-index:701;
  position:absolute;
  min-height:100%;
  min-width:100%;
  opacity:100%
}
.blindsCreditWrapper{
  position:absolute;
  min-width:100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  scrollbar-color: black black;
  scrollbar-width: 1%;
}
.blindsCreditBox {
  margin-top:10vh;
  background:black;
  color:white;
  font-size:0.9rem;
  z-index: 704;
  min-width: 20%;
  max-width:40%;
  max-height:30vh;
  
}
.blindsEntryBox {
  cursor:pointer;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 1rem;
  z-index:703;
  min-width:15rem;
  max-width:80vw;
  min-height:10rem;
  max-height:70vh;
  background:black;
}


.poem {
  z-index:500;

}
.poemBox {
  z-index:501;
  position:absolute;
  min-width:100%;
  max-width:100%;
  min-height:100%;
  max-height:100%;
  overflow:scroll;

}
.poemFlex {
  z-index:501;
  display:grid;
  grid-template-columns:50% 50%;
  text-align:left;
  justify-content:center;
  align-items:center;
}
.poemColumn {
  z-index:501;
  color:#333333;
  font-family:Beech Mono;
  text-transform: uppercase;
  font-size:2.1vh;
  padding:5% 10% 5% 10%;
}
.poemSpanEng {
  z-index:501;
  font-family:Space Mono;
}

body::selection, .vortext::selection {
            
}
.vortexed, .vortexed::selection {
  font-family:space mono;
  text-transform:lowercase;
  color:rgba(255,255,255,255) !important;
  font-weight:bold;  
}

.vortexTranslated {
  color:white;
}
          
          
.jittery span {
  display: inline-block;
  animation:SHAKE 600ms linear infinite;
  /*animation:jitter 50ms linear infinite;*/
  }
.floaty span {
  white-space:pre;
  display: inline-block;
  animation:HOVER 3000ms linear infinite;
  /*animation:jitter 50ms linear infinite;*/
  }
  
/*corru hover text*/
/* definition box */
#definition-box {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 45vw;
    z-index: 10000;
    transform: 
        translate(
            calc(  (var(--x) * 1px)   +   ((var(--xFlip) * (100% + 2em)) + 1em)  ), 
            calc(  (var(--y) * 1px)   +   ((var(--yFlip) * (100% + 2em)) + 1em)  )
        );
    pointer-events: none;
    transition: opacity 400ms ease-in-out, transform 50ms linear;
    background: black;
    color: white;
    padding: 0.63rem;
    font-family: Space Mono;
    font-size: 0.75rem;
    border: 1px solid;
    line-height: 1.2em;
    margin: 0;
}
#definition-box.slow {
    transition: opacity 400ms ease-in-out, transform 250ms linear;
}

#definition-box:not(.active) {
    opacity: 0;
}

/*animations (some from corru, some from home)*/
:root {
  --baseTransform: translateX(0);
}

@keyframes jitter{ 
  50%{transform:skewY(5deg) skewX(-5deg) scale(1.006);} 
  }

@keyframes SHAKE {
    0% { transform: var(--baseTransform) translate(0px, 1px) rotate(0deg); }
    10% { transform: var(--baseTransform) translate(-1px, -1px) rotate(1deg); }
    20% { transform: var(--baseTransform) translate(-2px, 1px) rotate(-1deg); }
    30% { transform: var(--baseTransform) translate(2px, 2px) rotate(0deg); }
    40% { transform: var(--baseTransform) translate(2px, -1px) rotate(-1deg); }
    50% { transform: var(--baseTransform) translate(-1px, 1px) rotate(1deg); }
    60% { transform: var(--baseTransform) translate(-2px, 4px) rotate(0deg); }
    70% { transform: var(--baseTransform) translate(1px, 1px) rotate(1deg); }
    80% { transform: var(--baseTransform) translate(-1px, -1px) rotate(-1deg); }
    90% { transform: var(--baseTransform) translate(1px, 2px) rotate(0deg); }
    100% { transform: var(--baseTransform) translate(1px, -2px) rotate(1deg); }
}

@keyframes TINYHOVER {
    0% { transform: var(--baseTransform) translateY(1%) }
    50% { transform: var(--baseTransform) translateY(-1%) }
    100% { transform: var(--baseTransform) translateY(1%) }
}

@keyframes HOVER {
    0% { transform: var(--baseTransform) translateY(5%) }
    50% { transform: var(--baseTransform) translateY(-5%) }
    100% { transform: var(--baseTransform) translateY(5%) }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes click-to-proceed {
    0% { opacity: 0; transform: translateY(-10px)}
    25% { opacity: 1; transform: translateY(-5px)}
    50% { opacity: 1; transform: translateY(0px)}
    75% { opacity: 1; transform: translateY(5px)}
    100% { opacity: 0; transform: translateY(10px)}
}

/*fonts*/
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

@font-face {
    font-family: Beech;
    src: url(/fonts/BEECH.TTF);
}

@font-face {
    font-family: Beech Mono;
    src: url(/fonts/Beech_Monospace.ttf);
}

@font-face {
    font-family: UglyQua;
    src: url(/fonts/UglyQua.ttf);
}

@font-face {
    font-family: ImpossAccents;
    src: url(/fonts/imposs_accents.ttf);
}